// reset is used to reset basic like common margin ,padding etc
@import "./reset"; 
// set basic frequetly used colors
@import "./colors"; 
// set font library
@import "./fonts"; 
// set basic font for elements website
@import "./typography"; 
// main structure for responsive
@import "./structure";
// for common buttons
@import "./buttons";

// sidebar
@import "./sidebar";

// sectons
@import "./home";
@import "./about";
@import "./resume";
@import "./work";
@import "./testimonial";
@import "./contact";    

// Responsive
@import "./responsive";

// change theme color
@import "./light";


body{
  overflow-x: hidden;
}
// photo border animation
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
